.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    flex: 30%;
    background-color: #e1e1e1;
    width: 96%;
    margin-top: 2%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .inputContainer {
    display: flex;
    flex-direction: row;
}

.header input {
    width: 200px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    font-size: 17px;
}

.header button {
    width: 100px;
    height: 62px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    font-size: 17px;
    cursor: pointer;
}

.todolist {
    flex: 70%;
    width: 96%;
}